h1 {
    text-align: center;
    }

#vibora {
        width:20px;
        height: 20px;
        background-color: blue;
}
#contenedor{
        margin-right:500px;
        margin-left:500px;
        border: solid 1px;
        border-color: black;
        background:yellow;
        width:500px;
        height:500px;
        position: absolute;
        }